<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.user.email %></li>
    <li><%= booking.swimming_pool.title %></li>
  <% end %>
</ul>
<div >

</div>

<html>
  <head>



  </head>
  <body>



  </body>
</html>
