<footer class="footer">
  <div class="container padding">
    <div class="row footer-absolute">
      <div>
        <h5 class="footer-color-dark">Rent&#183;a&#183;Pool</h5>
        <p class="footer-color">Skip the lines and find paradise just around the corner</p>
      </div>
      <div class="social-media">
        <p class="footer-color">Follow us on social media:</p>
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
        <!-- Area for the social media -->
    <div class="footer-copyright text-center py-3">
      <p id="small-text" class="footer-color">© 2020 Copyright: Rent&#183;a&#183;Pool</p>
    </div>
  </div>
</footer>
