<footer id="footer">
  <div class="container padding">
    <div class="row footer-absolute">
      <div>
        <h5 class="footer-color-dark">Rent&#183;a&#183;Pool</h5>
        <p class="footer-color">Find paradise just around the corner</p>
      </div>
      <div class="social-media">
        <p class="footer-color">Follow us on social media:</p>
        <ul class="row">
          <li class="col-3"><img src="https://img.icons8.com/material-outlined/100/000000/facebook-new.png" class="icon-sm"/></li>
          <li class="col-3"><img src="https://img.icons8.com/material-outlined/96/000000/instagram-new.png" class="icon-sm"/></li>
          <li class="col-3"><img src="https://img.icons8.com/fluent-systems-regular/96/000000/twitter.png" class="icon-sm"/></li>
        </ul>
      </div>
    </div>
        <!-- Area for the social media -->
    <div class="footer-copyright text-center py-3">
      <p id="small-text" class="footer-color">© 2020 Copyright: Rent&#183;a&#183;Pool</p>
    </div>
  </div>
</footer>
