.padding-show {
  margin-top: 60px;
}

.carousel-image {
  height: 396px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 7px;
  margin-bottom: 10px;
}

.polaroid {
  border-radius: 7px;
}

