.navbar {
  background-color: transparent;
  top: 0;
  margin: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-icon {
  text-decoration: none;
  color: rgb(77, 175, 186);
  font-size: 28px;
  transition: font-size 150ms ease-in-out;

  &:hover {
    font-size: 30px;
  }
}
