.section-title {
  color: $dark-blue;
  margin: 50px 0 25px;
  font-weight: 600;
}

// CSS for the sections inside show

.section-blue {
  background-color: rgba(201, 227, 237, 0.4);
  padding: 50px;
  border-radius: 0px 7px 63px 0px;
  max-width: 500px;
  margin-top: 50px;
}

.padding-down {
  margin-bottom: 50px;
}
